# Dependencies
node_modules/
.pnpm-store/

# Build and Output directories
dist/
dist-ssr/
build/
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Wasmer
.wasmer/
